{% extends '_base.html' %}
{% load static %}

{% block title %}
	Cat Collector | Confirm Delete?
{% endblock %}

{% block content %}
	<h1>Delete Cat</h1>

	<h4>Are you sure you want to delete <span class="teal-text">{{ object.name }}</span>?</h4>

	<form action="" method="POST">
		{% csrf_token %}
		<input type="submit" value="Yes - Delete!" class="btn">
		<a href="{% url 'main_app:detail' cat.id %}">Cancel</a>
	</form>
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
	{% comment %} Write your Extra javascript/jQuery block here... {% endcomment %}

	</script>
{% endblock %}