{% extends '_base.html' %}
{% load static %}

{% block title %}
	Cat Collector | Index
{% endblock %}

{% block content %}
	<h1>Cat List</h1>

	{% for cat in cats %}
	<a href="{% url 'main_app:detail' cat.id %}">
		<div class="card">
			<div class="card-content">
				<span class="card-title">{{ cat.name }}</span>
				<p>Breed: {{ cat.breed }}</p>
				<p>Description: {{ cat.description }}</p>
				{% if cat.age > 0 %}
					<p>Age: {{ cat.age }}</p>
				{% else %}
					<p>Age: Kitten</p>
				{% endif %}
			</div>
		</div>
	</a>
	{% endfor %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript">
	{% comment %} Write your Extra javascript/jQuery block here... {% endcomment %}

	</script>
{% endblock %}